body{
    background-image: url("");
    background-positon: center;
    background-repeat: No-repeat;
    background-size: cover;
}
.button>input{
    background-color:aqua;
    font color: black;
    width: 150px
}
.dimension>input{
    width: 400px;
}