body{
    background-image: url("");
    background-position: center;
    background-repeat: No-repeat;
    background-size: cover;
}
.button>input{
    background-color:aqua;
    color: black;
    width: 150px
}
.dimension>input{
    width: 400px;
}
img{
    height:250px;
    width:300px;
}